<?xml version="1.0"?>
<model>
  <name>3DR Iris with FPV camera and radar sensor</name>
  <version>1.0</version>
  <sdf version='1.4'>iris_hema.sdf</sdf>

  <author>
   <name>Volvox</name>
   <email>volvox@stalya.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with an FPV camera and radar sensor. The original model has been created by
    Thomas Gubler and is maintained by Lorenz Meier.
  </description>
</model>
